/*-- scss:defaults --*/
$theme-lightbrown: #eae0d5;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif');
@import url('https://fonts.googleapis.com/css2?family=Manrope');

$body-bg: $theme-lightbrown;
$body-color: #0a0908;
$link-color: #22333b;

$font-family-sans-serif: 'Manrope', sans-serif;
$presentation-heading-font: 'IBM Plex Serif', serif;

$presentation-h1-font-size: 2.0em;


/*-- scss:rules --*/


ul {
  font-size: 30px;
  
  // Set the color for bold text
  strong, 
  b,
  a{
    color: #5E503F; // Replace with your desired color
  }
}


.slide-menu-item-title {
  font-size: 20px;
}

table {
  font-size: 30px;
}


.reveal .slide-menu-button .fa-bars::before {
  background-image: url('https://cdn-icons-png.flaticon.com/128/3790/3790171.png') !important;
}



